/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

/data
/data-bak

/.idea
*.iml

/*.log
/*-init.clj
/resources/public/js/compiled
out
/node_modules
/.shadow-cljs
resources/public/css

.env